.guessdistribution {
    display: flex;
    flex-direction: row;
}

.guesslabels {
    display: flex;
    flex-direction: column;
    width: 80px;
}

.guesslabel {
    height: 80px;
    text-align: center;
}

.guessgraph {
    background-color: coral;
    width: 600px;
    height: 560px;
}

.guessbar {
    background-color: grey;
    width: 0%;
    height: 80px;
}